.cabecera
{
   
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

.cabecera__titulo
{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.cabecera__imagen
{
  width: 25px;
  vertical-align: middle;
  
}


.menu
{
    position: absolute;
    top: 25px; 
    right: 0;
    vertical-align: middle;
}

.menu__item
{
    display: inline;
    margin: 0 0 0 15px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

@media screen and (min-width: 0) {
    .cabecera
    {
       width: auto;
       
    }
}


@media screen and (min-width: 768px) {
    .cabecera
    {
        width: 940px;
    }   
}

@media screen and (min-width: 0) {
    .cabecera__imagen 
    {
       display: none;
       
    }
}

@media screen and (min-width: 0) {
    .cabecera__imagen 
    {
       display: block;
       
    }
}

