.contacto__container
{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-around;
}

.formulario__contacto .titulo-lista
{
    text-align: left;
    margin: 1rem;
}

.formulario__contacto p
{
   margin-left: 1rem;
}

.formulario__container
{
    display: flex;
    flex-direction: column;
}

.formulario__input__padron
{
    padding: .3rem;
    margin: 1rem;

}

.formulario__boton
{
    background-color: #428bca;
    color: white;
    border: solid #428bca;
    margin: 1rem;
    height: 35px;
    border-radius: 5%;
}

.formulario__boton:disabled
{
    background-color: #f8f8f8;
    color: #428bca;
}

.formulario__input__padron::placeholder
{
    font-size: 10px;
    text-align: end;
    color: #428bca;
}

.formulario__mensaje__error
{
    color:darkred;
}

@media (max-width: 768px) 
{
    .contacto__container
    {
        flex-direction: column;
    }

    .contacto__imagen
    {
        display: none;
    }
}

