.formaciones
{
    display: flex;
    flex-wrap: wrap;
}

.formacion
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 290px;
	background-color: #FFF;
	margin: 4%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    width: 25%;
    align-items: center;
    transition: 1s;
}

.formacion__imagen
{
    height: 150px;
    width: 150px;
}

.formacion__descripcion
{
    text-decoration: none;
	color: #000;
	font-weight: bold;
	position: relative;
    padding: 30px;
}

.formacion:hover{
    box-shadow: none;
}

@media screen and (max-width: 768px)
{
    .formaciones
    {
        flex-direction: column;
        align-content: center;
    }

    .formacion
    {
        width: 100%;
    }
}