.hobbies__lista
{
    display: flex;
   
  
}

.hobbies__lista__item
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    width: 15%;
    height: 160px;
    text-align: center;
    margin: 1%;
    align-items: center;
    align-content: space-around;

}

.hobbies__lista__item__nombre
{
    font-style: italic;
}





