.proyectos
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyecto__encriptador
{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.proyecto__encriptador__titulo
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.proyecto__encriptador__descripcion
{
    margin-top: 1rem;
    width: 100%;
}

.boton__repositorio
{
    background-color: #428bca;
    color: #fdfdfd;
    padding: 10px 20px;
    margin-top: 1rem;
    width: 50%;
    text-decoration: none;
    text-align: center;
    border: 2px solid #428bca;
}

.boton__demo
{
    background-color: #fdfdfd;
    color: #428bca;
    padding: 10px 20px;
    width: 50%;
    margin-top: 1rem;
    text-decoration: none;
    text-align: center;
    border: 2px solid #428bca;
}

@media (max-width: 768px) 
    {
        .proyectos
        {
            flex-direction: column;
        }

        .proyecto__encriptador__imagen
        {
            width: 100%;
        }

        .proyecto__encriptador
        {
            align-items: center;
        }
        
    }