.proyectos
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.proyecto__encriptador__titulo
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 4rem;
}

.proyecto__encriptador__descripcion
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.5rem;
    font-size: 14px;
}

.proyectos__encriptador__botones
{
    margin: 1rem 0 0 2rem;
}

.proyecto__encriptador__boton__repositorio
{
    width: 79px;
    height: 20px;
    background: white;
    border: 2px solid #428bca;
    margin: 1rem 0 0 1.5rem;
    display: inline-block;
}

.proyecto__encriptador__boton__repositorio a
{
    text-decoration: none;
    color: #428bca;
}

.proyecto__encriptador__boton__demo
{
    width: 79px;
    height: 20px;
    background: #428bca;
    border: 2px solid #428bca;
    display: inline;
}

.proyecto__encriptador__boton__demo a
{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) 
    {
        .proyectos
        {
            flex-direction: column;
            
        }

        .proyecto__encriptador__imagen
        {
            width: 100%;
        }
}