.proyectos__encriptador
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proyectos__encriptador__imagen
{
    width: 65%;
}

.proyectos__encriptador__repositorio__titulo
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 4rem;
}

.proyectos__encriptador__repositorio__descripcion
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    font-size: 14px;
}

.proyectos__encriptador__botones
{
    margin: 1rem 0 0 2rem;
}

.boton__repositorio
{ 
    border: 2px solid #428bca;
    color: #428bca;
    background: white;
    width: 90px;
    height: 35px;
}

.boton__demo
{
    border: 2px solid #428bca;
    color: white;
    background: #428bca;
    width: 90px;
    height: 35px;
}