.skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 290px;
	background-color: #FFF;
	margin: 4%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    width: 25%;
    align-items: center;
    transition: 1s;
    justify-content: space-around;
}

.skill__imagen
{
    height: 200px;
    width: 200px;
}

.skill:hover
{
    box-shadow: none;
}

